# Google Sheets Configuration
GOOGLE_SERVICE_ACCOUNT_EMAIL=""

GOOGLE_PRIVATE_KEY=""

GOOGLE_SHEET_ID=""

# Optional: Default Symbol for UI focus
NEXT_PUBLIC_DEFAULT_SYMBOL=""

AWS_REGION=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET_NAME=""
